@import "@styles/index";

.card {
  @extend %flex-column;

  @include set-size(400px, "fit-content");

  align-items: center;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 20%);
}
