.avatar {
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    filter:brightness(0.4);
    transition: all 0.2s ease-in-out;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;

    width: 0;
    height: 0;

    visibility: hidden;
  }
}
